body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #2f4f4f;
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #2f4f4f;
  color: #fff;
}

canvas {
  max-width: 100%;
  height: auto;
}


/*menu */

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  }
  
  nav li {
  margin-left: 20px;
  }
  
  nav a {
  color: #fff;
  text-decoration: none;
  }
  
  nav a:hover {
  text-decoration: underline;
  }
  /*menu */