body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,1));
    /* background-color: #034b92; Azul escuro */
    /* background-image: radial-gradient(#cecece 50%, #000000 50%);  */
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  
   #titulo {
    /* background-color: #333; */
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  main {
    /* display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    padding: 20px;
  }
  
  .section {
    background-color: #040404;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    /* margin: 20px;
    padding: 20px;
    width: 45%;
    width: 2500px; */
    border: 4px solid #fff;
  }


  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
  }
  

  h2 {
    text-align: center;
    color: #fff;
    
  }
  
  canvas {
    max-width: 100%;
  }
  
  /* acoes */
  .stock-panel {
    background: #FFA07A;
    background: linear-gradient(to bottom right, #FFA07A, #FF7F50);
    border: 1px solid #FFA07A;
    border-radius: 4px;
    padding: 16px;
    width: 400px;
    margin: 16px auto;
  }
  
  #acao, #acao1 {
    margin: 8px 0;
  }
  
  #acao {
    color: #fff;
  }
  
  #acao1 {
    color: #000000;
  }