/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  header {
    background-color: #212529;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Navigation */
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Main */
  main {
    max-width: 1800px;
    margin: 20px auto;
  }
  
  /* Summary */
  .summary-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .summary-item {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Actions */
  .actions-box {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary {
    background-color: #212529;
  }
  
  .secondary {
    background-color: #dee2e6;
    color: #333;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  /* Footer */
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  
  /* Profile Image */
  .profile-button {
    border: none;
    padding: 0;
    background-color: transparent;
  }
  
  .profile-button img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  /* Teste ID */
  #teste {
    color: #e70707;
  }